Hello young fellow,

It seems that you have been invited to the following site under Acenda.
In order to activate your account, and accept this responsability, please follow the link down below:
<a href="{{ url }}">Accept the invitation</a>
