Welcome! Thank you for joining {{ site_name }}.<br/><br/>

Username: {{ email }}<br/>
Password: <a href="https://www.babyviva.com/account/reset-password">Forgot your password?</a><br/><br/>

Thank you from your friends at {{ site_name }}.